.component_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
  padding: 40px 64px;
}

.call_us_label {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  width: 1000px;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.navigation_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 42px;
}

.navigation_section {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: flex-start;
  width: 40%;
}

.navigation_column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  gap: 16px;
}

.navigation_label {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.navigation_link {
  font-size: 16px;
  font-weight: 400;
}

.rights_reserved_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.rights_reserved_column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 24px;
}

.social_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 7px;
}
