.component_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 150px 64px;
  overflow: none;
  gap: 80px;
}

@media (max-width: 900px) {
  .component_container {
    padding: 64px 20px;
  }
}

.header_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

@media (max-width: 900px) {
  .header_section {
    gap: 12px;
  }
}

.header_tagline {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.header_label {
  font-size: 56px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 900px) {
  .header_label {
    font-size: 40px;
  }
}

.gallery_subtitle {
  font-size: 18px;
  margin-top: 8px;
  text-align: center;
}

@media (max-width: 900px) {
  .gallery_subtitle {
    font-size: 16px;
  }
}

.gallery_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 16px;
  width: 100%;
}

@media (max-width: 900px) {
  .gallery_container {
    overflow: auto;
  }
}

.gallery_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 590px;
  background: white;
  border-radius: 28px;
}

.gallery_image {
  width: 290px;
  height: 470px;
  object-fit: cover;
  color: white;
}

@media (max-width: 900px) {
  .gallery_image {
    width: 278px;
    height: 655px;
  }
}

.gallery_item_label {
  font-size: 16px;
}
