.component_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
  padding: 112px 64px;
  gap: 80px;
}

@media (max-width: 900px) {
  .component_container {
    padding: 64px 20px;
    gap: 48px;
  }
}

.need_help_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

@media (max-width: 900px) {
  .need_help_section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}

.need_help_column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 16px;
}

@media (max-width: 900px) {
  .need_help_column {
    justify-content: center;
    align-items: center;
  }
}

.need_help_label {
  font-size: 16px;
  font-weight: 400;
}

.call_label {
  font-size: 48px;
}

a {
  font-size: 48px;
}

@media (max-width: 900px) {
  a {
    font-size: 24px;
  }
}

.carousel_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

.carousel {
  width: 100%;
  height: auto;
}

.carousel_controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.current_display_hstack {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-content: center;
}

.current_number_label,
.current_category_label {
  font-size: 24px;
}

@media (max-width: 900px) {
  .current_number_label,
  .current_category_label {
    font-size: 20px;
  }
}

.number_of_slides_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 40px;
}

.slide_number {
  font-size: 24px;
}

@media (max-width: 900px) {
  .slide_number {
    font-size: 20px;
  }
}
